@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@1,400;1,800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "roboto mono", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  font-size: 2rem;
  margin: 20px;
  text-align: left;
}
