.mission-card {
  display: flex;
  border: 1px solid white;
  padding: 20px;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.mission-name {
  color: white;
  flex: 1;
}

.mission-status {
  border: 1px solid lime;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: right;
  font-size: 10px;
}

.mission-crew {
  border: 1px solid lime;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 5px 10px;
  text-align: right;
  font-size: 10px;
}
